pipeline/pipeline1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Bronze Notebook","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/harshabobby30@gmail.com/Bronze Notebook","baseParameters":{"start_date":{"value":"@formatDateTime(addDays(utcnow(), -1),'yyyy-MM-dd')","type":"Expression"},"end_date":{"value":"@formatDateTime(utcnow(),'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Silver Notebook","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze Notebook","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/harshabobby30@gmail.com/Silver Notebook","baseParameters":{"bronze_params":{"value":"@string(activity('Bronze Notebook').output.runOutput)","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Gold Notebook","type":"DatabricksNotebook","dependsOn":[{"activity":"Silver Notebook","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/harshabobby30@gmail.com/Gold Notebook","baseParameters":{"bronze_params":{"value":"@string(activity('Bronze Notebook').output.runOutput)","type":"Expression"},"silver_params":{"value":"@string(activity('Silver Notebook').output.runOutput)","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":[]}]}